.test-test {
    font-size: large;
    color: aqua;
}

.page{
    text-align: center;
    margin: auto;
    padding: 50px;
    width: 50%;
}

.user-data-div{
    border-radius: 20px;
    background-color: lightgray;
    padding: 50px;
}
.input-group-text {
    width: 100%;
    margin: auto;
  }

/*.user-data-div div{*/
/*    margin: auto;*/
/*    max-width: 50%;*/
/*}*/